@import './../../assets/consts/colors.scss';

.button{
    padding: 12px 14px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    background-color: $color-yellow;
    border: none;
    height: 40px;
    transition: background-color .3s;
    font-family: 'Work Sans', sans-serif;
    &:hover{
        background-color: $color-orange;
        cursor: pointer;
    }
}

.button--mail-form{
    height: 60px;
    max-width: 165px;
    width: 100%;
    background-color: $color-dark;
    color: $color-white;
    border: none;
    &:hover{
        background-color: $color-gray;    
    }
}

