@import './../../assets/consts/colors.scss';
@import './../../assets/mixins/_mixins';

.button{
    display: inline-block;
    padding: 12px 14px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    background-color: $color-yellow;
    border: none;
    height: 40px;
    transition: background-color .3s;
    font-family: 'Work Sans', sans-serif;
    &:hover{
        background-color: $color-orange;
        cursor: pointer;
    }
    &--header{
        @include onTablet {
            display: none;
        }
    }
    &--header-mobile{
        display: none;
        @include onTablet {
            display: block;
        }
    }
}

.button--mail-form{
    height: 60px;
    max-width: 165px;
    width: 100%;
    background-color: $color-dark;
    color: $color-white;
    border: none;
    @include onLaptop {
        height: 42px;
        line-height: 16px;
        font-size: 14px;
        width: 100%;
        max-width: 100px;
    }
    &:hover{
        background-color: $color-gray;    
    }
}

