@import './../../../assets/mixins/_mixins';
@import './../../../assets/consts/colors.scss';



.category{
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    font-family: 'Work Sans';
    color: $color-white;
    margin-right: 20px;
    border: none;
    background-color: transparent;
    transition: color .3s;
    
    &__wrapper{
        margin-top: 8px;
    }
}
.category:hover{
    cursor: pointer;
}
.category--active{
    color: $color-yellow;
}

.latest-progect{
    margin-bottom: 180px;
    width: 100%;

    &__up{
        display: flex;
        align-items: center;
        padding-left: 345px;
        margin-bottom: 75px;
    }
    &__title{
        font-size: 36px;
        line-height: 46px;
        font-weight: 700;
        color: white;
        margin-right: 350px;
    }
}
.latest-progect .swiper{
    position: static!important;

    &-pagination{
        bottom: -95px!important;

        &-bullet{
            background-color: $color-gray!important;
            width: 13px!important;
            height: 13px!important;
        }
        &-bullet-active{
            background-color: $color-yellow!important;
        }
    }
}

.slider-wrapper{
    position: relative;
    overflow: visible;
}


