@import './../../../assets/mixins/mixins';

.footer-spoilers{
  display: none;
  margin-bottom: 122px;
  @include onLaptop {
    margin-bottom: 70px;
    display: block;
  }
  @include onTablet {
    margin-bottom: 40px;
  }
  &__inner{
    margin-top: 30px;
  }
}