@import './../../assets/mixins/_mixins';
@import './../../assets/consts/colors.scss';

.mail-form{
    background-image: url(./../../../public/img/bg-mform.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    text-align: center;
    margin: 115px 0 140px;
    padding: 85px 10px 50px;
    color: $color-dark;

    &__title{
        font-style: normal;
        font-weight: 700;
        font-size: 120px;
        line-height: 69px;
        font-family: 'Gilroy';
        margin-bottom: 55px;
    }
    &__subtitle{
        font-weight: 600;
        font-size: 18px;
        line-height: 160%;
        font-family: 'Work Sans';
        margin-bottom: 15px;
    }
    &__input{
        border: none;
        line-height: 58px;
        max-width: 300px;
        width: 100%;
        outline: none;
        padding-left: 45px;
    }
    &__label{
        vertical-align: top
    }
    &__error{
        margin-top: 10px;
        font-weight: 700;
    }
}