@import './assets/fonts.scss';
@import './assets/consts/colors.scss';

*{
  box-sizing: border-box;
}

body{
  font-family: "Gilroy", serif;
  font-weight: 400;
  background-color: $color-dark;
  color: $color-white;
}

a{
  text-decoration: none;
}

.container{
  margin: 0px auto;
  padding: 0 10px;
  max-width: 1800px;
  width: 100%;  

  &--reviews{
    overflow-x: hidden;
    min-height: 490px;
  }
  &--middle{
    max-width: 1110px;
    overflow: visible;
  }
  &--narrow{
    max-width: 730px;
  }
}

.section-title{
  font-size: 70px;
  line-height: 85px;
  font-weight: 700;
  color: $color-white;
}