@import './assets/fonts.scss';
@import './assets/consts/colors.scss';
@import './../src/assets/mixins/mixins';

* {
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", serif;
  font-weight: 400;
  background-color: $color-dark;
  color: $color-white;
}

a {
  text-decoration: none;
}

.container {
  margin: 0px auto;
  padding: 0 10px;
  max-width: 1800px;
  width: 100%;

  &--reviews {
    overflow-x: hidden;
    min-height: 510px;

    @include onTablet {
      min-height: 440px;
    }
  }

  &--middle {
    max-width: 1110px;
    overflow: visible;
  }

  &--narrow {
    max-width: 730px;
  }
}

.section-title {
  font-size: 70px;
  line-height: 85px;
  font-weight: 700;
  color: $color-white;

  @include onLaptop {
    font-size: 50px;
    line-height: 80px;
  }

  @include onTablet {
    font-size: 30px;
    line-height: 37px;
  }

  &--services {
    line-height: 45px;
    font-size: 32px;

    @include onTablet {
      font-size: 26px;
      line-height: 26px;
      margin-top: 20px;
    }
  }
}

.breadcrumb-list {
  display: flex;
  flex-wrap: nowrap;

  &__item {
    padding-right: 15px;
    margin-right: 10px;
    position: relative;

    a {
      font-size: 14px;
      line-height: 16px;
      font-family: 'Work Sans', sans-serif;
      color: $color-white;
      overflow: hidden;

      @include onLaptop {
        font-size: 12px;
        line-height: 14px;
      }
    }

    &::before {
      position: absolute;
      content: "";
      background-image: url(./../public/img/svg/arrow-pag-gray.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 5px;
      height: 10px;
      right: 0;
      bottom: 2px;
    }

    &:last-child {
      margin-right: 0;
      padding-right: 0;

      a {
        color: $color-gray;
      }

      &::before {
        width: 0;
      }
    }
  }
}

.swiper-pagination {
  z-index: 2 !important;
}

.no-scroll {
  overflow: hidden;
}

.table-wrapper {
  @include onTablet {
    overflow-x: scroll;
  }

  & &--no-scroll {
    @include onTablet {
      overflow: hidden;
    }
  }
}

.modal-enter  {
  opacity: 0;
  transform: scale(0.9);
}
.modal-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.2s;
}
.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.2s;
}